 

    body{
        overflow-x: hidden!important;
    }
    .f20{
        font-size: 20px!important;

    }
    .f15{
        font-size: 20px;
        font-weight: 100!important;
    }
    .plr3{
        padding-left:3%!important;
        padding-right: 3%!important;
    }
    .mb8{
        margin-bottom: 8%!important;
    }
    .p20{
        padding: 20px;
    }
    .p10{
        padding: 10%;
    }
    hr{
        background-color:black;
        border:1px solid black;
        margin-top: 6%!important;
        margin-bottom: 10%!important;
    }
    .h40{
        height: 40px!important;
    }
    .btn-warning{
        background-color: #F9961F!important;
        padding: 2px 20px 2px 20px!important;
    }
    .top-heading{
        font-size: 42px;
        margin-bottom: 6%;
        font-family: 'Poppins', sans-serif!important;
    }
    .top-font{
        font-family: 'Vollkorn', serif!important;
        max-width:480px;
        margin-right:auto;
        margin-left:auto;
    }
    
    .bottom-font{
        font-family: 'Poppins', sans-serif!important;
        font-size: 22px;
        margin-bottom:30px;
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
    }
    .bottom-font p{
      
      margin-top: 20px;
    }
    .f18{
        font-size: 18px!important;
        max-width: 300px;
    }
    .f28{
        font-size: 28!important;
        margin-left: 80px;
    }
    .w30{
        width: 80%!important;
    }
    .w30:focus{
        outline: none!important;
    }
    .bg-smoke{
        background-color: #F2F6F9!important;
    }
    h2{
        font-size: 42px!important;
    }
    .box{
        border:2px solid black;
        height: 350px; 
        width: 100%;
    }
    .cont-pad{
        padding:5% 8% 5% 10%;
     }
     .head-image{
        margin-top: 20px;
        width: 370px;
        margin-left: -20px;
     }
     .img-border{
        border:2px solid black;
        height: 370px; 
        width: 370px;
        position: absolute;
        z-index: -10000;
     }
     .gif-img{
         height: 31px;
         border-bottom: 2px solid black!important;
         margin-left: -5px!important;
    }
     .ico{
         border-bottom: 2px solid black!important;
         margin-left: -5px!important;
     }
     .icolink{
        text-decoration: none!important;
     }
     @media screen and (max-width: 600px) {
       
        body{
            overflow-x: hidden!important;
        }
        h2{
            font-size: 28px!important;
        }
        .bottom-font{
            font-size: 18px;
            text-align: center;
        }
        .top-font{
            text-align: center;
        }
        
     .head-image{
        margin-top: 0px;
        width: 100%;
        margin-left: 0px;
     }
      }